:root {
    --blue: #265bb1;
    --orange: #F68E1E;

    --font-abril: 'Abril Fatface', cursive;
    --font-acme: 'Acme', sans-serif;
    --font-barlow: 'Barlow', sans-serif;
}


* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;

    font-family: var(--font-barlow);
    font-weight: 300;
}
img {
    width: 100%;
}
blockquote {
    font-family: var(--font-abril);
    color: var(--blue);
    padding-left: clamp(0.1em, 1vw, 1.1em);
    font-size: clamp(1.2em, 6vw, 1.6em);
}
a {
    color: var(--blue);
}
h1 {
    font-family: var(--font-abril);
    color: var(--blue);
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2;
    font-size: clamp(30px, 6vw, 42px);
    margin-bottom: 1.2em;
}

h1 span.text-accent {
    display: block;
}
.container {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}
.text-content {
    padding: 0 clamp(24px, 4vw, 40px);
    font-size: clamp(1.3em, 3.5vw, 1.6em);
    line-height: 1.3;
}
.text-center {
    text-align: center;
}


.text-accent {
    color: var(--orange);
}
.text-blue {
    color: var(--blue);
}

.font-abril { font-family: var(--font-abril) }
.font-acme { font-family: var(--font-acme)}
.font-barlow { font-family: var(--font-barlow) }

.drop-cap:first-letter {
    font-family: 'Acme', sans-serif;
    color: var(--orange);
    float: left;
    font-size: 3em;
    line-height: 1;
    margin: 0 .25em -10px 0;
    padding-left: 15px;
    text-align: center;
}


.text-content :is(b, strong) {
    font-weight: 500;
}
.text-content :is(q, .indented-italic) {
    padding-left: 2em;
    font-style: italic;
    display: block;
}
.faqs-item {margin: 1em 0;}
.faqs-item p {
    margin: 0;
}
.faqs {
    word-break: break-word;
    margin-top: 2em;
}
.faqs :is(header, .faq-question) {
    font-weight: 500;
    font-style: italic;
}
.faq-answer {
    margin: 0;
}

/* fade animation */
.fade-in {
    transition: 1s ease;
    transition-property: opacity, transform;
    opacity: 0;
    transform: translateY(10px);
}

.fade-in.appear {
    opacity: 1;
    transform: none;
}

footer.footer {
    padding: 2.5em 0;
    font-size: 12px;
    color: #777;
}
